{
  "semi": true,
  "singleQuote": true,
  "trailingComma": "es5",
  "printWidth": 80,
  "insertPragma": false,
  "requirePragma": false,
  "importOrder": [
    "^@/constants(.*)$",
    "^@/libs(.*)$",
    "^@/utils(.*)$",
    "^@/hooks(.*)$",
    "^@/models(.*)$",
    "^@/schemas(.*)$",
    "^@/typings(.*)$",
    "@/queries(.*)$",
    "^@/stores(.*)$",
    "^@/components(.*)$",
    "^@/modules(.*)$",
    "^[./]",
    "^@/styles(.*)$"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "plugins": [
    "prettier-plugin-tailwindcss",
    "@trivago/prettier-plugin-sort-imports"
  ]
}
