{
  "semi": true,
  "singleQuote": true,
  "trailingComma": "es5",
  "printWidth": 80,
  "insertPragma": false,
  "requirePragma": false,
  "importOrder": [
    "^@/constants/(.*)$",
    "^@/utils/(.*)$",
    "^@/models/(.*)$",
    "^@/schemas/(.*)$",
    "^@/stores/(.*)$",
    "^@/components/(.*)$",
    "^@/modules/(.*)$",
    "^[./]"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "plugins": [
    "prettier-plugin-tailwindcss",
    "@trivago/prettier-plugin-sort-imports"
  ]
}
